In [1]:
import pandas as pd

In [4]:
df = pd.read_json("https://restcountries.eu/rest/v2/all")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            250 non-null    object
 1   topLevelDomain  250 non-null    object
 2   alpha2Code      250 non-null    object
 3   alpha3Code      250 non-null    object
 4   callingCodes    250 non-null    object
 5   capital         250 non-null    object
 6   altSpellings    250 non-null    object
 7   region          250 non-null    object
 8   subregion       250 non-null    object
 9   population      250 non-null    int64
 10  latlng          250 non-null    object
 11  demonym         250 non-null    object
 12  area            240 non-null    float64
 13  gini            153 non-null    float64
 14  timezones       250 non-null    object
 15  borders         250 non-null    object
 16  nativeName      250 non-null    object
 17  numericCode     249 non-null    float64
 18  currencies      250 non-null    object
 19  languages       250 non-null    object
 20  translations    250 non-null    object
 21  flag            250 non-null    object
 22  regionalBlocs   250 non-null    object
 23  cioc            247 non-null    object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [6]:
df['area']

0       652230.0
1         1580.0
2        28748.0
3      2381741.0
4          199.0
         ...
245        142.0
246     266000.0
247     527968.0
248     752612.0
249     390757.0
Name: area, Length: 250, dtype: float64

In [9]:
type(df['area'])

pandas.core.series.Series

In [12]:
df.loc[df['area'].isnull(),['name','region']]

                                             name    region
33           United States Minor Outlying Islands  Americas
78                                  French Guiana  Americas
90                                     Guadeloupe  Americas
140                                    Martinique  Americas
143                                       Mayotte    Africa
171                           Palestine, State of      Asia
183                                       Réunion    Africa
188  Saint Helena, Ascension and Tristan da Cunha    Africa
209  South Georgia and the South Sandwich Islands  Americas
216                        Svalbard and Jan Mayen    Europe