In [1]:
import pandas as pd

In [2]:
df = pd.read_json("https://restcountries.eu/rest/v2/all")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            250 non-null    object
 1   topLevelDomain  250 non-null    object
 2   alpha2Code      250 non-null    object
 3   alpha3Code      250 non-null    object
 4   callingCodes    250 non-null    object
 5   capital         250 non-null    object
 6   altSpellings    250 non-null    object
 7   region          250 non-null    object
 8   subregion       250 non-null    object
 9   population      250 non-null    int64
 10  latlng          250 non-null    object
 11  demonym         250 non-null    object
 12  area            240 non-null    float64
 13  gini            153 non-null    float64
 14  timezones       250 non-null    object
 15  borders         250 non-null    object
 16  nativeName      250 non-null    object
 17  numericCode     249 non-null    float64
 18  currencies      250 non-null    object
 19  languages       250 non-null    object
 20  translations    250 non-null    object
 21  flag            250 non-null    object
 22  regionalBlocs   250 non-null    object
 23  cioc            247 non-null    object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [7]:
for n in df.name:
    if n.startswith('I'):
         print(n)

Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy

In [10]:
df.loc[df.name.apply( lambda v : v.startswith('I')), ['name','capital']]

                           name    capital
103                     Iceland  Reykjavík
104                       India  New Delhi
105                   Indonesia    Jakarta
107  Iran (Islamic Republic of)     Tehran
108                        Iraq    Baghdad
109                     Ireland     Dublin
110                 Isle of Man    Douglas
111                      Israel  Jerusalem
112                       Italy       Rome

In [12]:
df.loc[df['area'].isnull(),['name','region']]

                                             name    region
33           United States Minor Outlying Islands  Americas
78                                  French Guiana  Americas
90                                     Guadeloupe  Americas
140                                    Martinique  Americas
143                                       Mayotte    Africa
171                           Palestine, State of      Asia
183                                       Réunion    Africa
188  Saint Helena, Ascension and Tristan da Cunha    Africa
209  South Georgia and the South Sandwich Islands  Americas
216                        Svalbard and Jan Mayen    Europe

In [15]:
df[df.name.str.len() < 5]

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,region,subregion,population,...,timezones,borders,nativeName,numericCode,currencies,languages,translations,flag,regionalBlocs,cioc
46,Chad,[.td],TD,TCD,[235],N'Djamena,"[TD, Tchad, Republic of Chad, République du Tc...",Africa,Middle Africa,14497000,...,[UTC+01:00],"[CMR, CAF, LBY, NER, NGA, SSD]",Tchad,148.0,"[{'code': 'XAF', 'name': 'Central African CFA ...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Tschad', 'es': 'Chad', 'fr': 'Tchad', ...",https://restcountries.eu/data/tcd.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",CHA
58,Cuba,[.cu],CU,CUB,[53],Havana,"[CU, Republic of Cuba, República de Cuba]",Americas,Caribbean,11239004,...,[UTC-05:00],[],Cuba,192.0,"[{'code': 'CUC', 'name': 'Cuban convertible pe...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'de': 'Kuba', 'es': 'Cuba', 'fr': 'Cuba', 'ja...",https://restcountries.eu/data/cub.svg,[],CUB
75,Fiji,[.fj],FJ,FJI,[679],Suva,"[FJ, Viti, Republic of Fiji, Matanitu ko Viti,...",Oceania,Melanesia,867000,...,[UTC+12:00],[],Fiji,242.0,"[{'code': 'FJD', 'name': 'Fijian dollar', 'sym...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Fidschi', 'es': 'Fiyi', 'fr': 'Fidji',...",https://restcountries.eu/data/fji.svg,[],FIJ
91,Guam,[.gu],GU,GUM,[1671],Hagåtña,"[GU, Guåhån]",Oceania,Micronesia,184200,...,[UTC+10:00],[],Guam,316.0,"[{'code': 'USD', 'name': 'United States dollar...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Guam', 'es': 'Guam', 'fr': 'Guam', 'ja...",https://restcountries.eu/data/gum.svg,[],GUM
108,Iraq,[.iq],IQ,IRQ,[964],Baghdad,"[IQ, Republic of Iraq, Jumhūriyyat al-‘Irāq]",Asia,Western Asia,37883543,...,[UTC+03:00],"[IRN, JOR, KWT, SAU, SYR, TUR]",العراق,368.0,"[{'code': 'IQD', 'name': 'Iraqi dinar', 'symbo...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'de': 'Irak', 'es': 'Irak', 'fr': 'Irak', 'ja...",https://restcountries.eu/data/irq.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",IRQ
137,Mali,[.ml],ML,MLI,[223],Bamako,"[ML, Republic of Mali, République du Mali]",Africa,Western Africa,18135000,...,[UTC],"[DZA, BFA, GIN, CIV, MRT, NER, SEN]",Mali,466.0,"[{'code': 'XOF', 'name': 'West African CFA fra...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Mali', 'es': 'Mali', 'fr': 'Mali', 'ja...",https://restcountries.eu/data/mli.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",MLI
163,Niue,[.nu],NU,NIU,[683],Alofi,[NU],Oceania,Polynesia,1470,...,[UTC-11:00],[],Niuē,570.0,"[{'code': 'NZD', 'name': 'New Zealand dollar',...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'de': 'Niue', 'es': 'Niue', 'fr': 'Niue', 'ja...",https://restcountries.eu/data/niu.svg,[],
168,Oman,[.om],OM,OMN,[968],Muscat,"[OM, Sultanate of Oman, Salṭanat ʻUmān]",Asia,Western Asia,4420133,...,[UTC+04:00],"[SAU, ARE, YEM]",عمان,512.0,"[{'code': 'OMR', 'name': 'Omani rial', 'symbol...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'de': 'Oman', 'es': 'Omán', 'fr': 'Oman', 'ja...",https://restcountries.eu/data/omn.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",OMA
175,Peru,[.pe],PE,PER,[51],Lima,"[PE, Republic of Peru, República del Perú]",Americas,South America,31488700,...,[UTC-05:00],"[BOL, BRA, CHL, COL, ECU]",Perú,604.0,"[{'code': 'PEN', 'name': 'Peruvian sol', 'symb...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'de': 'Peru', 'es': 'Perú', 'fr': 'Pérou', 'j...",https://restcountries.eu/data/per.svg,"[{'acronym': 'PA', 'name': 'Pacific Alliance',...",PER
226,Togo,[.tg],TG,TGO,[228],Lomé,"[TG, Togolese, Togolese Republic, République T...",Africa,Western Africa,7143000,...,[UTC],"[BEN, BFA, GHA]",Togo,768.0,"[{'code': 'XOF', 'name': 'West African CFA fra...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'de': 'Togo', 'es': 'Togo', 'fr': 'Togo', 'ja...",https://restcountries.eu/data/tgo.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",TOG

In [18]:
df['languages']

0      [{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...
1      [{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...
2      [{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...
3      [{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...
4      [{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...
                             ...
245    [{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...
246    [{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...
247    [{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...
248    [{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...
249    [{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...
Name: languages, Length: 250, dtype: object