In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('marks.csv',header=None, names=['name','subject','marks'])

In [10]:
df

      name subject  marks
0     Bill    Java     90
1     Bill  Python     95
2    Steve    Java     80
3    Steve       C     90
4  Roberts    HTML     98
5  Roberts    Java     60
6  Roberts  Python     70

In [14]:
df['subject'].value_counts()

Java      3
Python    2
HTML      1
C         1
Name: subject, dtype: int64